* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #aaa;
}
.container {
    background-color: #ddd;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
.gallery {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 340px;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}
.card img {
    border: 1px solid #333;
}
.capture {
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #ddd;
}
a {
    text-decoration: none;
}